/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-style: solid;
	border-radius: 5px;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	line-height: 145%;  
	margin-bottom: 1em;
	text-align: left;
}

code {
	
}

h1, h2, h3 {
	text-decoration: underline;
}

h1 {
	line-height: 145%;
}

h2 {
	text-indent: 4em;
}

h3 {
	
}

header {
	font-size: 25px;
}

main {
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	max-width: 50%;
}

p {
	font-family: "Times New Roman", Times, serif;
	text-decoration: underline;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}

.first-paragraph {
	text-indent: 4em;
}